In [1]:
from tabula import read_pdf

In [2]:
# flavor -> 'stream', 'lattice' for camelot
# camelot fails deadly had to install ghostscript
# import requests
# file = requests.get('https://sedl.org/afterschool/toolkits/science/pdf/ast_sci_data_tables_sample.pdf')
# print(file.headers.get('content-type'))
# f = open("sample.pdf",'wb').write(file.content)
input_pdf = read_pdf('https://sedl.org/afterschool/toolkits/science/pdf/ast_sci_data_tables_sample.pdf',pages="1,2")

In [3]:
for i in input_pdf:
    print(i)

   Number of Coils Number of Paperclips
0                5              3, 5, 4
1               10              7, 8, 6
2               15           11, 10, 12
3               20           15, 13, 14
    Speed (mph)           Driver                         Car     Engine  \
0       407.447  Craig Breedlove           Spirit of America     GE J47
1       413.199        Tom Green            Wingfoot Express     WE J46
2       434.220       Art Arfons               Green Monster     GE J79
3       468.719  Craig Breedlove           Spirit of America     GE J79
4       526.277  Craig Breedlove           Spirit of America     GE J79
5       536.712       Art Arfons               Green Monster     GE J79
6       555.127  Craig Breedlove  Spirit of America, Sonic 1     GE J79
7       576.553       Art Arfons               Green Monster     GE J79
8       600.601  Craig Breedlove  Spirit of America, Sonic 1     GE J79
9       622.407    Gary Gabelich                  Blue Flame     Rocket
10      633.468    Richard Noble                    Thrust 2  RR RG 146
11      763.035       Andy Green                  Thrust SSC    RR Spey

        Date
0     8/5/63
1    10/2/64
2    10/5/64
3   10/13/64
4   10/15/65
5   10/27/65
6    11/2/65
7    11/7/65
8   11/15/65
9   10/23/70
10   10/4/83
11  10/15/97
   Time (drops of water)  Distance (cm)
0                      1        10,11,9
1                      2     29, 31, 30
2                      3     59, 58, 61
3                      4   102, 100, 98
4                      5  122, 125, 127

In [4]:
input_pdf[1]

,Speed (mph),Driver,Car,Engine,Date
0,407.447,Craig Breedlove,Spirit of America,GE J47,8/5/63
1,413.199,Tom Green,Wingfoot Express,WE J46,10/2/64
2,434.220,Art Arfons,Green Monster,GE J79,10/5/64
3,468.719,Craig Breedlove,Spirit of America,GE J79,10/13/64
4,526.277,Craig Breedlove,Spirit of America,GE J79,10/15/65
5,536.712,Art Arfons,Green Monster,GE J79,10/27/65
6,555.127,Craig Breedlove,"Spirit of America, Sonic 1",GE J79,11/2/65
7,576.553,Art Arfons,Green Monster,GE J79,11/7/65
8,600.601,Craig Breedlove,"Spirit of America, Sonic 1",GE J79,11/15/65
9,622.407,Gary Gabelich,Blue Flame,Rocket,10/23/70
10,633.468,Richard Noble,Thrust 2,RR RG 146,10/4/83
11,763.035,Andy Green,Thrust SSC,RR Spey,10/15/97

In [5]:
df = input_pdf[1].iloc[:,[0,3,4]]
df

    Speed (mph)     Engine      Date
0       407.447     GE J47    8/5/63
1       413.199     WE J46   10/2/64
2       434.220     GE J79   10/5/64
3       468.719     GE J79  10/13/64
4       526.277     GE J79  10/15/65
5       536.712     GE J79  10/27/65
6       555.127     GE J79   11/2/65
7       576.553     GE J79   11/7/65
8       600.601     GE J79  11/15/65
9       622.407     Rocket  10/23/70
10      633.468  RR RG 146   10/4/83
11      763.035    RR Spey  10/15/97